.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/StreamPredictor.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
data/*
PatternStore/*
output/*
scratch/*
*.csv
*.swp
*.pyc
*.zip
*~
*.lnk
*.jpg
*.pdf
*.log

